#tree
  position: absolute
  //top: 0
  //left: 0
  //right: 360px
  //bottom: 0
  height: 100%
  width: 100%

#side
  position: absolute
  top: 10px
  bottom: 10px
  right: 10px
  width: 320px
  overflow-y: auto

#details
  position: absolute
  top: 10px
  bottom: 10px
  width: 440px
  right: -440px
  padding-top: 25px
  padding-left: 10px
  overflow-y: auto
  overflow-x: hidden

button
  position: absolute


@import "@fontsource/inter"
@import "@fontsource/roboto"

@import "@fontsource/inter/300.css"
@import "@fontsource/roboto/300.css"
$light: 300

@import "@fontsource/inter/400.css"
@import "@fontsource/roboto/400.css"
$regular: 400

@import "@fontsource/inter/500.css"
@import "@fontsource/roboto/500.css"
$medium: 500

@import "@fontsource/inter/600.css"
@import "@fontsource/roboto/600.css"
$semi-bold: 600

@import "@fontsource/inter/700.css"
@import "@fontsource/roboto/700.css"
$bold: 700
